@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400;500&family=Crimson+Pro:wght@200&family=IBM+Plex+Serif:wght@300&family=Josefin+Sans:ital,wght@0,100;1,500&family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding: 0;
}


body{
    font-family: 'Anton', sans-serif;
    font-family: 'Cinzel', serif;
    font-family: 'Crimson Pro', serif;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-color: aliceblue !important; ;
    
}
.card-img-top
{
    height:300px;
    width:100%;
}
.card-body{
    min-height:100%;
}
.card
{
    margin:0;
    padding:0;
    color:white;
    background:#383838;
    min-height: 400px;
    font-size:18px;
    font-family: 'Poppins', sans-serif;
    display:inline-block;
    position:relative;
    align-items: center;
    justify-content: center;
    margin-left:26px;
    width:22%;
    margin-top:20px;
    
    
    
}
.card-title
{
    font-size:10px;
}
.wishlist{
    position: absolute;
    top:0;
    left:0;
    background:rgba(3, 3, 3, 0.7);
    font-size:10px;
    z-index:999;
    left:0 !important;
    
}
.wishlist:hover{
    color:gold;
   
}
.rated{
    font-size:18px;
    
}
.bi-bookmark-plus
{
    font-size:30px;
    
    
}
.bi-star-fill
{
    color:yellow;
    font-size:18px;
}
.bi-star
{
    color:blue;
    font-size:18px;
    padding:10px;
}
.bi-star:hover
{
    color:blue;
    background:#2c2c2c;
    border:none !important;
    border-radius:50%;
}
.bi-play-fill
{
    font-size:20px;
    padding-right:2px;
}
.bi-info-circle
{
    font-size:22px;
}
.custom_color1 {
    background:none;
    border:none;
    
}
.custom_color
{
    background:#2c2c2c;
    border:none;
    padding:2px 2px 2px 2px;

}